/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--header-bg-img);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1024px;
  background-color: var(--bg-color);
}

.main__title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: var(--main-font-size);
  line-height: 23.4px;
  color: var(--main-title-color);
}

.main__text {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  line-height: 23.4px;
  font-weight: 300;
  color: var(--main-font-color);
}

.link__effects {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-effects);
}

a:hover {
  border-bottom: 1px solid #fff;
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 1px solid var(--main-font-color);
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr minmax(min-content, max-content) 1fr;
  max-width: 1024px;
  height: 100vh;
  max-height: 768px;
}

.header__decore {
  display: flex;
  align-items: center;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  position: absolute;
  right: 28px;
  top: 20px;
  visibility: var(--decore-visible);
  gap: 10px;
}

.header__decore-ellipse {
  content: none;
  width: 9px;
  height: 9px;
  border-radius: 5px;
  background-color: var(--main-title-color);
  box-shadow: 0px 0px 4px 3px var(--main-title-color);
  visibility: var(--decore-visible);
}

.decorated-zone::before {
  display: flex;
  content: '';
  position: absolute;
  right: 20px;
  top: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--main-title-color);
  border-right: 1px solid var(--main-title-color);
}

.decorated-zone::after {
  position: absolute;
  content: '';
  left: 20px;
  bottom: 20px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--main-title-color);
  border-left: 1px solid var(--main-title-color);
}

.header__title {
  font-family: var(--main-font);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: bold;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: end;
}

.header__subtitle {
  justify-self: end;
  align-self: center;
  margin-inline-end: 2%;
  margin-block-end: 6%;
  overflow: hidden;
  max-width: 503px;
  width: 100%;
}

.header__subtitle p {
  margin-left: 12px;
}

.title__decor {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  color: var(--main-title-color);
}

.header__theme-menu-button {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  color: var(--main-title-color);
  text-transform: lowercase;
  line-height: 1;
  appearance: none;
  background-color: transparent;
  text-align: center;
  padding: 3px 13px;
  border: 1px solid transparent;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--main-title-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--border-btn-hover);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--main-title-color);
}

.content__blocks {
  display: grid;
  gap: 20px;
}

.content__focus {
  grid-template-columns: 32% 2fr;
  padding: 60px 20px 60px 20px;
} 

.content__focus-title {
  grid-column: 1;
  grid-row: 1/4;
}

.content__focus-block-title {
  grid-column: 2;
  grid-row: 1;
  margin-block-end: 10px;
}

.content__focus-block-text {
  grid-column: 2;
  grid-row: 2;
}

.content__concentrate {
  grid-template-rows: repeat(2, auto);
  padding-bottom: 80px;
}

.content__concentrate-title {
  margin-inline-start: 20px;
  width: 30%;
  grid-column: 1;
  grid-row: 1;
}

.content__concentrate-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  gap: 20px;
}

.content__concentrate-card-title {
  margin-block-end: 10px;
  background-color: var(--accent-color);
  color: var(--main-bg-color);
}

.content__advice {
  grid-template-columns: 32% 65%;
  letter-spacing: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
}

.content__advice-title {
  grid-column: 1;
}

.content__advice-cards {
  display: grid;
  row-gap: 20px;
}

.card__advice-list {
  grid-column: 2;
}

.card__advice-list-item {
  line-height: 23.4px;
  margin-block-end: 20px;
}

.card__advice-list-item:last-child {
  margin-block-end: 0px;
}

.content__advice-card-title {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
  margin-block-end: 10px;
}

.content__gallery {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
}

.content__gallery-title {
  margin-bottom: 20px;
}

.gallery {
  display: grid;
  grid-template-rows: 24% 30% 40%;
  gap: 20px;
}

.gallery img {
  width: 100%;
  max-height: 100%;
  height: 100%;
  object-fit: cover;
}

.content__gallery-sunset {
  grid-column: span 2;
  grid-row: 1;
}

.content__gallery-ice-cream {
  grid-column: 3;
  grid-row: span 2;
}

.content__gallery-tape {
  grid-column: 1;
  grid-row: 2/span 2;
}

.content__gallery-books {
  grid-column: 2;
  grid-row: 2;
}

.content__gallery-street {
  grid-column: 2/span 2;
  grid-row: 3;
}

.footer {
  display: flex;
  position: relative;
  height: 100vh;
  max-height: 768px;
}

.footer__title {
  font-family: var(--main-font);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: bold;
  justify-self: center;
  align-self: center;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  margin-inline-start: 27%;
  margin-block-end: 3%;
}

@media (width < 1024px) {
  .header {
    height: 100vh;
    max-height: 1024px;
  }

  .header__theme-menu {
    display: flex;
    margin-inline-end: 3%;
    margin-block-start: 4%;
    row-gap: 10px;
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__subtitle {
    max-width: 364px;
    padding-left: 0;
  }

  .content__concentrate-card {
    grid-template-columns: none;
  }

  .footer {
    max-height: 1024px;
  }
}

@media (width < 768px) {
  .header {
    max-height: 668px;
    padding: 10px;
  }

  .header__subtitle {
    margin: 0;
  }

  .header__decore {
    right: 19px;
    top: 10px;
  }

  .decorated-zone::after {
    left: 10px;
    bottom: 10px;
  }

  .decorated-zone::before {
    right: 10px;
    top: 10px;
  }

  .header__theme-menu {
    align-self: center;
    padding-bottom: 10%;
    margin-inline-end: 0;
  }

  .header__title {
    line-height: 82.5%;
    align-self: start;
    font-size: 116px;
  }

  .content__focus {
    grid-template-columns: 100%;
    padding: 40px 10px 50px 10px;
    width: 100%;
  }

  .content__focus-title {
    margin-inline-start: 0;
  }

  .content__concentrate {
    padding: 0 10px 50px 10px;
  }

  .content__concentrate-title {
    width: 100%;
    margin: 0;
  }

  .content__concentrate-card {
    grid-template-columns: none;
    margin: 0;
  }

  .content__advice {
    grid-template-columns: 100%;
    padding: 0px 10px 50px 10px;
  }

  .content__advice-cards {
    grid-column: 1;
  }

  .content__gallery {
    padding: 0px 10px 40px 10px;
  }

  .content__gallery-title {
    margin-bottom: 10px;
  }

  .title__decor {
    padding: 0;
  }

  .gallery {
    grid-template-columns: 100%;
    grid-template-rows: max-content;
    gap: 10px;
  }

  .content__gallery-picture {
    display: block;
    grid-column: 1;
    grid-row: auto;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }

  /* .content__gallery-sunset {
    display: block;
    grid-column: 1;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    max-height: 142px;
  } */

  /* .content__gallery-ice-cream {
    display: block;
    grid-column: 1;
    grid-row: auto;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    max-height: 355px;
  } */

  /* .content__gallery-tape {
    display: block;
    grid-column: 1;
    grid-row: auto;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    max-height: 237px;
  }

  .content__gallery-books {
    grid-column: 1;
    grid-row: inherit;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    max-height: 355px;
  }

  .content__gallery-street {
    grid-column: 1;
    grid-row: inherit;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    max-height: 237px;
  } */

  .footer {
    justify-content: center;
    max-height: 668px;
  }
  
  .footer__title {
    margin: 0;
    font-size: 116px;
  }
}